<div class="card">
    <h5>Master Data - Access</h5>

    <ng-container *ngIf="roles">
        <div class="flex flex-column gap-4">
            <div class="flex justify-content-end gap-2">
                <p-button
                    icon="pi pi-plus"
                    label="New"
                    severity="primary"
                    (click)="goToNewRole()"
                    *ngIf="userPermissions.includes('create-role')"
                />
            </div>

            <div
                class="flex justify-content-center"
                *ngIf="loading; else tableView"
            >
                <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
            </div>

            <ng-template #tableView>
                <p-table
                    [value]="roles"
                    [paginator]="true"
                    [rows]="5"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [rowsPerPageOptions]="[5, 10, 20]"
                    [rowTrackBy]="trackByFunction"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Role</th>
                            <th>Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Edit Menu</th>
                            <th class="text-center">Edit Category</th>
                            <th class="text-center">Edit Role</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-role let-i="rowIndex">
                        <tr>
                            <td>{{ role.name }}</td>
                            <td>{{ role.description }}</td>
                            <td class="text-center">
                                <!-- <p-button
                                icon="pi pi-sitemap"
                                label="Edit"
                                size="small"
                                severity="success"
                                (onClick)="goToCategoryAccess(1)"
                            /> -->
                                <!-- class="menu-status" -->
                                <p-button
                                    *ngIf="role.status; else inactive"
                                    label="Active"
                                    size="small"
                                    severity="success"
                                    class="menu-status"
                                />
                                <ng-template #inactive>
                                    <p-button
                                        label="Inactive"
                                        size="small"
                                        severity="danger"
                                        class="menu-status"
                                    />
                                </ng-template>
                            </td>
                            <td class="text-center">
                                <p-button
                                    *ngIf="
                                        userPermissions.includes('update-role')
                                    "
                                    icon="pi pi-user-edit"
                                    size="small"
                                    label="Edit"
                                    severity="secondary"
                                    (onClick)="goToMenuAccess(role.id)"
                                />
                            </td>
                            <td class="text-center">
                                <p-button
                                    *ngIf="
                                        userPermissions.includes('update-role')
                                    "
                                    icon="pi pi-user-edit"
                                    size="small"
                                    label="Edit"
                                    severity="secondary"
                                    (onClick)="goToCategoryAccess(role.id)"
                                />
                            </td>
                            <td class="text-center">
                                <p-button
                                    *ngIf="
                                        userPermissions.includes('update-role')
                                    "
                                    icon="pi pi-user-edit"
                                    size="small"
                                    label="Edit"
                                    severity="secondary"
                                    (onClick)="goToEditAccess(role.id)"
                                />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </div>
    </ng-container>
</div>
