<div class="card min-h-full">
    <p-button
        icon="pi pi-chevron-left"
        label="Back"
        (onClick)="clickBack()"
        size="small"
        [outlined]="true"
    />

    <h5>Edit Category</h5>

    <div class="flex justify-content-center" *ngIf="loading; else formView">
        <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
    </div>

    <ng-template #formView>
        <form
            class="flex flex-column gap-2 mt-5"
            [formGroup]="editCategoryForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="field grid">
                <label class="col-2" for="name">Name</label>
                <div class="col-12 md:col-10">
                    <input
                        pInputText
                        class="w-full"
                        type="text"
                        name="name"
                        id="name"
                        formControlName="name"
                    />
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="status">Status</label>
                <div class="col-12 md:col-10">
                    <p-inputSwitch formControlName="status" />
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="description">Description</label>
                <div class="col-12 md:col-10">
                    <textarea
                        pInputText
                        class="w-full"
                        type="text"
                        name="description"
                        id="description"
                        rows="5"
                        formControlName="description"
                    ></textarea>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="status">Parent Category</label>
                <div class="col-12 md:col-10">
                    <p-treeSelect
                        formControlName="parent_id"
                        [filter]="true"
                        class="block w-full"
                        [options]="categoryOptions"
                        name="category"
                        value="id"
                    />
                </div>
            </div>

            <div class="flex justify-content-end mt-8">
                <p-button class="" type="submit" label="Submit"></p-button>
            </div>
        </form>
    </ng-template>
</div>
