<!-- <div class="card">
    <p-tabView activeIndexChange="onTabChange">
        <p-tabPanel
            *ngFor="let category of categories"
            [header]="category.name"
        >
            {{ selectedCategory }}
        </p-tabPanel>
    </p-tabView>
</div> -->

<div class="card">
    <p-dataView #dv [value]="documents">
        <ng-template pTemplate="list" let-documents>
            <div class="grid">
                <div
                    class="DocumentCard"
                    *ngFor="let doc of documents; let first = first"
                >
                    <div class="DocumentCard__Icon">
                        <img
                            src="/assets/layout/images/pdf-file-format.png"
                            alt="pdf-logo"
                            width="60px"
                        />
                    </div>
                    <div class="DocumentCard__Details">
                        <h6 class="mb-0">{{ doc.name }}</h6>
                        <p class="mb-0">{{ doc.short_desc }}</p>
                        <div class="DocumentCard__Details__Tags">
                            <p class="text-sm" *ngFor="let tag of doc.tags">
                                {{ tag }}
                            </p>
                        </div>
                    </div>
                    <div class="DocumentCard__More">
                        <p class="mb-0">Expired : {{ doc.expired }}</p>
                        <div class="DocumentCard__More__Buttons">
                            <p-button
                                label="Read More"
                                size="small"
                                [outlined]="true"
                            />
                            <p-button label="View Document" size="small" />
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<div class="card">
    <iframe
        class="mb-4"
        title="test-frame"
        [src]="docSrc + '#toolbar=0' | safe : 'resourceUrl'"
        type="application/pdf"
        height="800"
        width="100%"
    >
    </iframe>
    <div class="flex justify-content-end">
        <p-button
            icon="pi pi-download"
            label="Download PDF"
            severity="secondary"
            (onClick)="downloadPdf()"
        />
    </div>
</div>
