<div class="MainContainer">
    <div class="card">
        <div class="p-3">
            <p-tabMenu
                [model]="tabItems"
                [activeItem]="activeTab"
                (activeItemChange)="onActiveItemChange($event)"
            />
        </div>

        <div class="p-3">
            <p-menubar [model]="categories" />
        </div>

        <div class="MainContainer__Search flex mb-5">
            <div class="col-3">
                <span class="p-input-icon-right w-full">
                    <input
                        type="text"
                        class="w-full"
                        pInputText
                        placeholder="Search by Keyword"
                        [(ngModel)]="filters.keyword"
                    />
                    <i class="pi pi-search"></i>
                </span>
            </div>

            <div class="flex col-9 justify-content-between">
                <p-button
                    severity="secondary"
                    icon="pi pi-search"
                    label="Search"
                    (onClick)="applyFilter()"
                />
                <p-button
                    *ngIf="currentUser.permissions.includes('upload-document')"
                    icon="pi pi-plus"
                    label="Upload Dokumen"
                    (onClick)="goToUpload()"
                />
            </div>
        </div>

        <div
            class="flex justify-content-center"
            *ngIf="docLoading; else tableView"
        >
            <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
        </div>

        <ng-template #tableView>
            <h4 class="mb-5 px-3">
                {{ categoryIndicator() }}
            </h4>

            <p-dataView #dv [value]="documents">
                <ng-template pTemplate="list" let-documents>
                    <div class="grid">
                        <div class="DocumentCard" *ngFor="let doc of documents">
                            <div class="DocumentCard__Top">
                                <div class="DocumentCard__Icon">
                                    <img
                                        src="/assets/layout/images/pdf-file-format.png"
                                        alt="pdf-logo"
                                        width="60px"
                                    />
                                </div>
                                <div class="DocumentCard__Details">
                                    <h5 class="mb-1">{{ doc.document_no }}</h5>

                                    <p
                                        class="mb-1"
                                        style="
                                            font-weight: 700;
                                            font-size: 1.25rem;
                                            text-transform: uppercase;
                                        "
                                    >
                                        {{ doc.title }}
                                    </p>
                                    <p class="mb-3">{{ doc.category_name }}</p>

                                    <div class="DocumentCard__Details__Icons">
                                        <i class="pi pi-user"></i>
                                        <span>{{ doc.uploader }}</span>
                                    </div>
                                    <div class="DocumentCard__Details__Icons">
                                        <i class="pi pi-clock"></i>
                                        <span>{{
                                            doc.created_at
                                                | date : "dd-MM-yyyy, HH:mm:ss"
                                        }}</span>
                                    </div>
                                </div>
                                <div class="DocumentCard__More">
                                    <p class="mb-2">
                                        Expired :
                                        {{
                                            doc?.expired_at
                                                | date : "dd-MM-yyyy"
                                        }}
                                    </p>
                                    <div class="DocumentCard__Details__Tags">
                                        <p
                                            *ngFor="
                                                let tag of doc?.tags?.split(
                                                    ', '
                                                )
                                            "
                                        >
                                            {{ tag }}
                                        </p>
                                    </div>
                                    <div class="DocumentCard__More__Buttons">
                                        <p-button
                                            [label]="
                                                expandedId === doc.id
                                                    ? 'Show Less'
                                                    : 'Read More'
                                            "
                                            size="small"
                                            [outlined]="true"
                                            (click)="toggleShowMore(doc.id)"
                                        />
                                        <p-button
                                            label="View Document"
                                            size="small"
                                            (onClick)="goToDocument(doc.id)"
                                        />
                                        <!-- <p-button
                                            icon="pi pi-bookmark"
                                            size="small"
                                            [outlined]="true"
                                        /> -->
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngIf="expandedId === doc.id"
                                class="DocumentCard__Bottom"
                            >
                                <h6>Description</h6>
                                <p>{{ doc.description }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
            <div class="flex justify-content-center">
                <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="first"
                    [rows]="rows"
                    [totalRecords]="totalRecords"
                />
            </div>
        </ng-template>
    </div>
</div>
