<div class="card">
    <p-tabView activeIndexChange="onTabChange">
        <p-tabPanel
            *ngFor="let category of categories"
            [header]="category.name"
        >
            {{ selectedCategory }}
        </p-tabPanel>
    </p-tabView>
</div>

<!-- <div class="card">Test</div> -->

<div class="card">
    <iframe
        class="mb-4"
        title="test-frame"
        [src]="docSrc + '#toolbar=0' | safe : 'resourceUrl'"
        type="application/pdf"
        height="800"
        width="100%"
    >
    </iframe>
    <div class="flex justify-content-end">
        <p-button
            icon="pi pi-download"
            label="Download PDF"
            severity="secondary"
            (onClick)="downloadPdf()"
        />
    </div>
</div>
