$primaryColor: #a27c42 !default;
$primaryLightColor: #c7b08e !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1);
$primaryDarkColor: #614a28 !default;
$primaryDarkerColor: #41321a !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import "../_variables";
@import "../../theme-base/_components";
@import "../_extensions";

.layout-topbar {
    background-color: #b49c76 !important;
}

.layout-sidebar {
    background: linear-gradient(336deg, #705327 0%, #61461b 68%) !important;
}

// .field.grid {
//     > label {
//         align-items: baseline !important;
//         margin-top: 8px !important;
//     }
// }

.layout-sidebar
    .layout-menu
    .layout-root-menuitem
    > .layout-menuitem-root-text {
    color: white !important;
}

.layout-sidebar .layout-menu ul a {
    color: white !important;

    &.active-route {
        color: #c5ae8a !important;
    }

    &:hover {
        color: #c5ae8a !important;
    }

    .layout-menuitem-text {
        color: inherit !important;
    }

    .layout-menuitem-icon {
        color: inherit !important;
    }

    .layout-submenu-toggler {
        color: inherit !important;
    }
}
