.Container {
    display: grid;
    grid-template-columns: minmax(100px, 4fr) minmax(100px, 3fr);
    gap: 40px;

    &__Details {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &__Icons {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 10px;

            i {
                font-size: 1.2rem;
            }

            span {
                font-size: medium;
            }
        }

        .Top {
            &__Tags {
                display: flex;
                column-gap: 16px;
                row-gap: 10px;
                margin-top: 10px;
                margin-bottom: 50px;

                p {
                    border-radius: 50px;
                    padding-block: 4px;
                    background-color: #f3e3ca;
                    color: #614a28;
                    padding-inline: 6px;
                }
            }
        }

        .Bottom {
        }

        .Buttons {
            display: flex;
            justify-content: end;
        }
    }
}
