<div class="card">
    <div class="mb-4">
        <p-button
            icon="pi pi-chevron-left"
            size="small"
            [outlined]="true"
            label="Back"
            (onClick)="clickBack()"
        />
    </div>
    <div class="Container">
        <div class="Container__Document">
            <div
                class="flex justify-content-center"
                *ngIf="docLoading; else docView"
            >
                <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
            </div>

            <ng-template #docView>
                <pdf-viewer
                    *ngIf="pdfUrl"
                    [src]="pdfUrl"
                    [render-text]="true"
                    [original-size]="false"
                    style="width: 100%; height: 800px"
                ></pdf-viewer>
                <div class="flex justify-content-end">
                    <p-button
                        icon="pi pi-download"
                        label="Download PDF"
                        severity="secondary"
                        (onClick)="downloadPdf()"
                    />
                </div>
            </ng-template>
        </div>

        <div class="Container__Details">
            <div
                class="flex justify-content-center"
                *ngIf="detailLoading; else detailView"
            >
                <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
            </div>

            <ng-template #detailView>
                <div class="Top">
                    <h3 class="mb-0">{{ currentDoc?.documentNo }}</h3>

                    <h3
                        class="m-0 mb-1"
                        style="font-weight: 700; color: #69707a"
                    >
                        {{ currentDoc?.title }}
                    </h3>
                    <p class="m-0 mb-5 text-lg">
                        Category: {{ currentDoc?.category?.name }}
                    </p>

                    <div class="Container__Details__Icons">
                        <i class="pi pi-user"></i>
                        <span>{{ currentDoc?.uploader?.name }}</span>
                    </div>
                    <div class="Container__Details__Icons">
                        <i class="pi pi-clock"></i>
                        <span>{{
                            currentDoc?.createdAt
                                | date : "yyyy-MM-dd , hh:mm:ss"
                        }}</span>
                    </div>

                    <p class="text-lg mt-5">
                        Expired at : {{ currentDoc?.expiredAt }}
                    </p>

                    <div class="Top__Tags flex">
                        <p *ngFor="let tag of currentDoc?.tags?.split(', ')">
                            {{ tag }}
                        </p>
                    </div>

                    <h5 class="mb-1">Description</h5>
                    <p>{{ currentDoc?.description }}</p>
                </div>

                <div class="Bottom">
                    <h3 class="mb-2">Approval Status</h3>
                    <!-- <p class="text-lg mb-4">Requested By : User</p> -->
                    <div class="Bottom__Table">
                        <p-table
                            [value]="currentDoc?.approvers"
                            scrollDirection="both"
                            [scrollable]="true"
                            scrollHeight="400px"
                            styleClass="mt-3"
                            responsiveLayout="scroll"
                        >
                            <ng-template pTemplate="header">
                                <tr style="background-color: #fcb43e17">
                                    <th></th>
                                    <th style="width: 200px">Name</th>
                                    <!-- <th style="width: 200px">Date</th> -->
                                    <th style="width: 200px">Status</th>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-customer
                                let-i="rowIndex"
                            >
                                <tr>
                                    <td style="width: 20px">
                                        {{ i + 1 }}
                                    </td>
                                    <td style="width: 200px" class="font-bold">
                                        {{ customer.name }}
                                    </td>
                                    <td style="width: 200px">
                                        <span
                                            [class]="
                                                'pills status-' +
                                                customer.status
                                            "
                                            >{{ customer.status }}</span
                                        >
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div
                    *ngIf="
                        currentApprove &&
                        currentUser?.permissions.includes('approve-document')
                    "
                    class="flex justify-content-end mt-auto"
                >
                    <p-button
                        icon="pi pi-check"
                        label="Approve Document"
                        severity="success"
                        (onClick)="approveDocument()"
                    />
                </div>
            </ng-template>

            <!-- 
            <div class="Bottom">
                <h3 class="mb-2">Approval Status</h3>
                <p class="text-lg mb-4">Requested By : User</p>
                <div class="Bottom__Table">
                    <p-table
                        [value]="approvals"
                        scrollDirection="both"
                        [scrollable]="true"
                        scrollHeight="400px"
                        styleClass="mt-3"
                        responsiveLayout="scroll"
                    >
                        <ng-template pTemplate="header">
                            <tr style="background-color: #fcb43e17">
                                <th></th>
                                <th style="width: 200px">Name</th>
                                <th style="width: 200px">Status</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-customer
                            let-i="rowIndex"
                        >
                            <tr>
                                <td style="width: 20px">
                                    {{ i + 1 }}
                                </td>
                                <td style="width: 200px" class="font-bold">
                                    {{ customer.name }}
                                </td>
                                <td style="width: 200px">
                                    <span
                                        [class]="
                                            'pills status-' + customer.status
                                        "
                                        >{{ customer.status }}</span
                                    >
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div> -->

            <!-- <div class="Buttons">
                <p-button
                    label="Approve Document"
                    severity="success"
                    (onClick)="showDialog()"
                />
            </div> -->
        </div>
    </div>
</div>

<!-- <p-dialog
    header="Confirmation"
    [modal]="true"
    [(visible)]="isOpen"
    [style]="{ width: '25rem' }"
>
    <p class="p-text-primary block mb-5 text-xl">
        Ingin update approval dokumen untuk :
        <span style="font-weight: 700">{{ currentDoc?.name }}?</span>
    </p>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="danger" (onClick)="isOpen = false" />
        <p-button
            severity="success"
            label="Approve"
            (onClick)="isOpen = false"
        />
    </div>
</p-dialog> -->
