$primaryColor: #a27c42 !default;
$primaryLightColor: #c7b08e !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1);
$primaryDarkColor: #614a28 !default;
$primaryDarkerColor: #41321a !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import "../_variables";
@import "../../theme-base/_components";
@import "../_extensions";

// .layout-topbar {
//     background-color: #b49c76 !important;
// }

// .layout-sidebar {
//     background: linear-gradient(336deg, #705327 0%, #61461b 68%) !important;
// }

.layout-topbar {
    background: linear-gradient(
        220deg,
        rgba(180, 156, 118, 1) 0%,
        rgb(116 95 60) 80%
    ) !important;
    box-shadow: rgba(0, 0, 0, 0.45) 40px 25px 20px -22px !important;
}

.layout-sidebar {
    background: linear-gradient(
        156deg,
        rgba(97, 70, 27, 1) 40%,
        rgb(42, 29, 10) 100%
    ) !important;
}

.field.grid {
    > label {
        align-items: baseline !important;
        margin-top: 8px !important;
    }
}

.layout-sidebar
    .layout-menu
    .layout-root-menuitem
    > .layout-menuitem-root-text {
    color: white !important;
}

.layout-sidebar .layout-menu ul a {
    color: white !important;

    &.active-route {
        color: #c5ae8a !important;
    }

    &:hover {
        color: #c5ae8a !important;
    }

    .layout-menuitem-text {
        color: inherit !important;
    }

    .layout-menuitem-icon {
        color: inherit !important;
    }

    .layout-submenu-toggler {
        color: inherit !important;
    }
}

.layout-container {
    background: #fcb43e17 !important;
}

.layout-content .card {
    // background: #a47c3a21 !important ;
    // background: #fcb43e17 !important;
}

p-table {
    border-radius: 20px;
    overflow: auto;
}

p-treeselect > div {
    width: 100% !important;
}
