<div class="MainContainer">
    <div class="card">
        <div class="p-3">
            <p-menubar [model]="categories" />
        </div>
        <div class="MainContainer__Search flex mb-5">
            <div class="col-3">
                <span class="p-input-icon-right w-full">
                    <input
                        type="text"
                        class="w-full"
                        pInputText
                        placeholder="Search by Keyword"
                    />
                    <i class="pi pi-search"></i>
                </span>
            </div>
            <!-- <div class="col-3">
                <p-treeSelect
                    formControlName="selectedCategory"
                    [filter]="true"
                    class="block w-full"
                    [options]="categories"
                    selectionMode="single"
                    name="category"
                    placeholder="Search by Category"
                />
            </div> -->

            <div class="col-1">
                <p-button
                    icon="pi pi-search"
                    label="Search"
                    severity="secondary"
                />
            </div>
        </div>

        <p-dataView #dv [value]="documents">
            <ng-template pTemplate="list" let-documents>
                <div class="grid">
                    <div class="DocumentCard" *ngFor="let doc of documents">
                        <div class="DocumentCard__Top">
                            <div class="DocumentCard__Icon">
                                <img
                                    src="/assets/layout/images/pdf-file-format.png"
                                    alt="pdf-logo"
                                    width="60px"
                                />
                            </div>
                            <div class="DocumentCard__Details">
                                <h5 class="mb-1">{{ doc.name }}</h5>
                                <p class="mb-2">Requested By : User</p>
                                <p class="mb-3">{{ doc.parents }}</p>
                                <!-- <p class="mb-4">{{ doc.short_desc }}</p> -->
                            </div>
                            <div class="DocumentCard__Approval">
                                <p>
                                    Approval status :
                                    <span
                                        [class]="'pills status-' + doc.status"
                                        >{{ doc.status }}</span
                                    >
                                </p>
                            </div>
                            <div class="DocumentCard__More">
                                <p class="mb-2">Expired : {{ doc.expired }}</p>

                                <div class="DocumentCard__Details__Tags">
                                    <p
                                        class="text-sm"
                                        *ngFor="let tag of doc.tags"
                                    >
                                        {{ tag }}
                                    </p>
                                </div>
                                <div class="DocumentCard__More__Buttons">
                                    <p-button
                                        label="Read More"
                                        size="small"
                                        [outlined]="true"
                                    />
                                    <p-button
                                        label="View Document"
                                        size="small"
                                        (onClick)="goToDocument(doc.id)"
                                    />
                                </div>
                                <!-- (onClick)="goToDocument(doc.id)" -->
                            </div>
                        </div>
                        <!-- <div class="DocumentCard__Bottom">
                            <h6>Description</h6>
                            <p>{{ doc.long_desc }}</p>
                        </div> -->
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
