<div class="card">
    <h5 class="mb-5">Master Data - Category</h5>

    <!-- <ng-container *ngIf="categories"> -->
    <div class="flex flex-column gap-4">
        <div class="flex justify-content-between gap-2">
            <input
                pInputText
                type="text"
                (input)="onGlobalFilterEvent($event)"
                placeholder="Search keyword"
            />

            <p-button
                icon="pi pi-plus"
                label="New"
                severity="primary"
                (click)="goToNewCategory()"
                *ngIf="userPermissions.includes('create-category')"
            />
        </div>

        <div
            class="flex justify-content-center"
            *ngIf="loading; else tableView"
        >
            <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
        </div>

        <ng-template #tableView>
            <p-table
                #dt2
                [value]="categories"
                [paginator]="true"
                [rows]="10"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[10, 20, 50, 100]"
                paginatorDropdownAppendTo="body"
                [globalFilterFields]="['name', 'path', 'menu.parents']"
            >
                <!-- <ng-template pTemplate="caption"> -->

                <!-- </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nama</th>
                        <th>Parent</th>
                        <!-- <th class="text-center">Status</th> -->
                        <th class="text-center">Approver List</th>

                        <th class="text-center">Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-category let-i="rowIndex">
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ joinParents(category.parents) }}</td>
                        <!-- <td class="text-center">
                                <ng-container
                                    *ngIf="!!category.status; else inactive"
                                >
                                    <p-button
                                        label="Active"
                                        size="small"
                                        severity="success"
                                        class="menu-status"
                                    />
                                </ng-container>
                                <ng-template #inactive>
                                    <p-button
                                        label="Inactive"
                                        size="small"
                                        severity="danger"
                                        class="menu-status"
                                    />
                                </ng-template>
                            </td> -->
                        <td class="text-center">
                            <p-button
                                *ngIf="
                                    userPermissions.includes('update-category')
                                "
                                icon="pi pi-user-edit"
                                size="small"
                                label="Edit"
                                severity="secondary"
                                (onClick)="goToApprovers(category.id)"
                            />
                        </td>
                        <td class="text-center">
                            <div
                                class="flex align-items-center gap-2 justify-content-center"
                            >
                                <p-button
                                    *ngIf="
                                        userPermissions.includes(
                                            'update-category'
                                        )
                                    "
                                    icon="pi pi-user-edit"
                                    size="small"
                                    label="Edit"
                                    severity="secondary"
                                    (onClick)="goToEditCategory(category.id)"
                                />

                                <p-button
                                    *ngIf="
                                        userPermissions.includes(
                                            'update-category'
                                        )
                                    "
                                    icon="pi pi-trash"
                                    size="small"
                                    label="Delete"
                                    severity="danger"
                                    (onClick)="
                                        deleteCategory(
                                            category.id,
                                            category.name
                                        )
                                    "
                                />
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </div>
    <!-- </ng-container> -->
</div>
