<div class="card min-h-full">
    <p-button
        icon="pi pi-chevron-left"
        label="Back"
        (onClick)="clickBack()"
        size="small"
        [outlined]="true"
    />

    <h5>Document Upload</h5>

    <div class="flex justify-content-center" *ngIf="loading; else formView">
        <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
    </div>

    <ng-template #formView>
        <form
            class="flex flex-column gap-2 mt-5"
            [formGroup]="uploadForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="field grid">
                <label class="col-2" for="file"
                    >Choose File <span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <input
                        type="file"
                        placeholder="Choose File"
                        (change)="onFilePicked($event)"
                        accept="application/pdf"
                        formControlName="file"
                        id="file"
                    />
                    <div
                        *ngIf="
                            uploadForm.controls['file']?.invalid &&
                            uploadForm.controls['file']?.touched
                        "
                    >
                        <small
                            *ngIf="uploadForm.controls['file']?.errors?.['required']"
                            >File is required.</small
                        >
                    </div>
                    <div *ngIf="uploadForm.controls['file']?.errors as errors">
                        <small
                            *ngIf="
                                errors['fileType'] &&
                                uploadForm.controls['file']?.touched
                            "
                            >Only PDF files are allowed.</small
                        >
                        <small
                            *ngIf="
                                errors['fileSize'] &&
                                uploadForm.controls['file']?.touched
                            "
                            >File must be smaller than 10 MB.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="name"
                    >Document Number <span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <input
                        pInputText
                        class="w-full"
                        type="text"
                        name="name"
                        id="name"
                        formControlName="document_no"
                    />
                    <div
                        *ngIf="
                            uploadForm.controls['document_no']?.invalid &&
                            uploadForm.controls['document_no']?.touched
                        "
                    >
                        <small
                            *ngIf="uploadForm.controls['document_no']?.errors?.['required']"
                            >Document Number is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="name"
                    >Title <span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <input
                        pInputText
                        class="w-full"
                        type="text"
                        name="short_desc"
                        id="short_desc"
                        formControlName="title"
                    />

                    <div
                        *ngIf="
                            uploadForm.controls['title']?.invalid &&
                            uploadForm.controls['title']?.touched
                        "
                    >
                        <small
                            *ngIf="uploadForm.controls['title']?.errors?.['required']"
                            >Title is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="name"
                    >Description<span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <textarea
                        pInputText
                        class="w-full"
                        type="text"
                        name="long_desc"
                        id="long_desc"
                        rows="5"
                        formControlName="description"
                    ></textarea>
                    <div
                        *ngIf="
                            uploadForm.controls['description']?.invalid &&
                            uploadForm.controls['description']?.touched
                        "
                    >
                        <small
                            *ngIf="uploadForm.controls['description']?.errors?.['required']"
                            >Description is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="status"
                    >Category <span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <div class="flex justify-content-between gap-2">
                        <p-treeSelect
                            formControlName="selectedCategory"
                            [filter]="true"
                            class="block w-full"
                            [options]="categories"
                            selectionMode="single"
                            name="category"
                        />
                        <p-button
                            label="Clear"
                            [outlined]="true"
                            icon="pi pi-eraser"
                            (onClick)="clearCategory()"
                        />
                    </div>

                    <div
                        *ngIf="
                            uploadForm.controls['selectedCategory']?.invalid &&
                            uploadForm.controls['selectedCategory']?.touched
                        "
                    >
                        <small
                            *ngIf="uploadForm.controls['selectedCategory']?.errors?.['required']"
                            >Category is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="status"
                    >Criteria <span class="text-red-500">*</span></label
                >
                <div class="gap-5 col-12 md:col-10">
                    <div class="flex gap-5 align-items-center">
                        <div class="flex align-items-center">
                            <p-radioButton
                                name="criteria"
                                value="internal"
                                formControlName="criteria"
                                inputId="kriteria1"
                            />
                            <label for="kriteria1" class="ml-2">
                                Internal
                            </label>
                        </div>

                        <div class="flex align-items-center">
                            <p-radioButton
                                name="criteria"
                                value="restricted"
                                formControlName="criteria"
                                inputId="kriteria2"
                            />
                            <label for="kriteria2" class="ml-2">
                                Restricted
                            </label>
                        </div>
                    </div>

                    <div
                        *ngIf="
                            uploadForm.controls['criteria']?.invalid &&
                            uploadForm.controls['criteria']?.touched
                        "
                    >
                        <small
                            *ngIf="uploadForm.controls['criteria']?.errors?.['required']"
                            >Criteria is required.</small
                        >
                    </div>
                </div>
            </div>
            <div class="field grid">
                <label class="col-2" for="status">Announce Document </label>
                <div class="flex gap-5 col-12 md:col-10">
                    <p-checkbox
                        formControlName="announce"
                        [binary]="true"
                        trueValue="'true"
                        falseValue="'false"
                    />
                    <!-- (onChange)="onCheckboxChange($event)" -->
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="status">Expired Date</label>
                <div class="flex gap-2 col-12 md:col-10">
                    <p-calendar
                        class="CalendarInput"
                        formControlName="expired_at"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        inputId="icondisplay"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        dateFormat="yy-mm-dd"
                    />
                    <p-button
                        label="Clear"
                        [outlined]="true"
                        icon="pi pi-eraser"
                        (onClick)="clearDate()"
                    />
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="tag"
                    >Tag<span class="text-red-500">*</span></label
                >
                <div class="gap-5 col-12 md:col-10">
                    <p-chips
                        class="TagInput"
                        styleClass="TagInput"
                        formControlName="tags"
                        name="tag"
                        [max]="4"
                        placeholder="Maximum 4 items"
                    />
                    <div
                        *ngIf="
                            uploadForm.controls['tags']?.invalid &&
                            uploadForm.controls['tags']?.touched
                        "
                    >
                        <small
                            *ngIf="uploadForm.controls['tags']?.errors?.['required']"
                            >Tags is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="tag">References</label>
                <div class="gap-5 col-12 md:col-10">
                    <div class="flex gap-2">
                        <p-autoComplete
                            class="w-full"
                            [style]="{ width: '100%' }"
                            [inputStyle]="{ width: '100%' }"
                            placeholder="Search By Document Number"
                            [(ngModel)]="searchKey"
                            (completeMethod)="search($event)"
                            [ngModelOptions]="{
                                standalone: true
                            }"
                            [suggestions]="searchResult"
                            optionLabel="number_title"
                        >
                            <ng-template let-item pTemplate="item">
                                {{ item.document_no }} - {{ item.title }}
                            </ng-template>
                        </p-autoComplete>
                        <p-button
                            label="Add"
                            icon="pi pi-plus"
                            (onClick)="addReference()"
                        />
                    </div>

                    <div class="mt-2">
                        <p-table
                            [tableStyle]="{ 'min-width': '50rem' }"
                            [rows]="20"
                            [reorderableColumns]="true"
                            [value]="references"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Document Number</th>
                                    <th>Title</th>
                                    <th>Reference</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-doc
                                let-i="rowIndex"
                            >
                                <tr>
                                    <td>{{ doc.document_no }}</td>
                                    <td>{{ doc.title }}</td>
                                    <td>
                                        <p-dropdown
                                            [options]="referenceOptions"
                                            placeholder="Select reference type"
                                            appendTo="body"
                                            [(ngModel)]="doc.type"
                                            [ngModelOptions]="{
                                                standalone: true
                                            }"
                                            (ngModelChange)="
                                                changeReferenceOption(doc)
                                            "
                                        />
                                    </td>
                                    <td>
                                        <p-dropdown
                                            [disabled]="
                                                doc.type == 'pencabutan' ||
                                                doc.type == 'perubahan'
                                            "
                                            [options]="statusOptions"
                                            placeholder="Select status"
                                            appendTo="body"
                                            [(ngModel)]="doc.status"
                                            [ngModelOptions]="{
                                                standalone: true
                                            }"
                                            (ngModelChange)="
                                                changeReferenceOption(doc)
                                            "
                                        />
                                    </td>
                                    <td>
                                        <p-button
                                            label="Delete"
                                            severity="danger"
                                            size="small"
                                            (onClick)="deleteReference(i)"
                                        />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

            <div class="flex justify-content-end mt-8">
                <p-button class="" type="submit" label="Submit"></p-button>
            </div>
        </form>
    </ng-template>
</div>
