<div class="card min-h-full">
    <p-button
        icon="pi pi-chevron-left"
        label="Back"
        (onClick)="clickBack()"
        size="small"
        [outlined]="true"
    />

    <h5>New Category</h5>

    <form
        class="flex flex-column gap-2 mt-5"
        [formGroup]="newCategoryForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="field grid">
            <label class="col-2" for="name">Name</label>
            <div class="col-12 md:col-10">
                <input
                    pInputText
                    class="w-full"
                    type="text"
                    name="name"
                    id="name"
                    formControlName="name"
                />
            </div>
        </div>

        <div class="field grid">
            <label class="col-2" for="status">Status</label>
            <div class="col-12 md:col-10">
                <!-- <input
                    type="checkbox"
                    name="status"
                    id="status"
                    formControlName="status"
                /> -->
                <p-inputSwitch formControlName="status" />
            </div>
        </div>

        <div class="field grid">
            <label class="col-2" for="status">Parent Category</label>
            <div class="col-12 md:col-10">
                <p-treeSelect
                    formControlName="selectedCategory"
                    [filter]="true"
                    class="block w-full"
                    [options]="categories"
                    selectionMode="single"
                    name="category"
                />
            </div>
        </div>

        <div class="field grid">
            <label class="col-2" for="status">Users</label>
            <div class="col-12 md:col-10">
                <!-- <p-treeSelect
                    formControlName="selectedCategory"
                    [filter]="true"
                    class="block w-full"
                    [options]="categories"
                    selectionMode="single"
                    name="category"
                /> -->
                <p-multiSelect
                    [options]="users"
                    formControlName="selectedUsers"
                    placeholder="Select Users"
                    class="block w-full"
                    display="chip"
                    [panelStyle]="{ width: '100%' }"
                    [style]="{ width: '100%' }"
                />
            </div>
        </div>
        <div class="flex justify-content-end mt-8">
            <p-button class="" type="submit" label="Submit"></p-button>
        </div>
    </form>
</div>
