<div class="card min-h-full">
    <p-button
        icon="pi pi-chevron-left"
        label="Back"
        (onClick)="clickBack()"
        size="small"
        [outlined]="true"
    />

    <h5>Edit Menu</h5>

    <div class="flex justify-content-center" *ngIf="loading; else formView">
        <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
    </div>

    <ng-template #formView>
        <form
            [formGroup]="editMenuForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-column gap-2 mt-5"
        >
            <div class="field grid">
                <label class="col-2" for="name"
                    >Name<span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <input
                        pInputText
                        class="w-full"
                        type="text"
                        name="name"
                        id="name"
                        formControlName="name"
                    />
                    <div
                        *ngIf="
                            editMenuForm.controls['name']?.invalid &&
                            editMenuForm.controls['name']?.touched
                        "
                    >
                        <small
                            *ngIf="editMenuForm.controls['name']?.errors?.['required']"
                            >Name is required.</small
                        >
                    </div>
                </div>
            </div>
            <!-- 
        <div class="field grid">
            <label class="col-2" for="description">Description</label>
            <div class="col-12 md:col-10">
                <textarea
                    pInputText
                    class="w-full"
                    type="text"
                    name="description"
                    id="description"
                    rows="5"
                    formControlName="description"
                ></textarea>
            </div>
        </div> -->

            <div class="field grid">
                <label class="col-2" for="path"
                    >Path<span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <input
                        pInputText
                        class="w-full"
                        type="text"
                        name="path"
                        id="path"
                        formControlName="path"
                    />
                    <div
                        *ngIf="
                            editMenuForm.controls['path']?.invalid &&
                            editMenuForm.controls['path']?.touched
                        "
                    >
                        <small
                            *ngIf="editMenuForm.controls['path']?.errors?.['required']"
                            >Path is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="icon"
                    >Icon<span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <p-dropdown
                        styleClass="w-full"
                        [options]="icons"
                        formControlName="icon"
                        [filter]="true"
                        optionLabel="label"
                        optionValue="value"
                        [filter]="true"
                        filterBy="label"
                    >
                        <ng-template let-item pTemplate="icon">
                            <div class="flex align-center gap-3">
                                <i class="pi pi-{{ item.label }}"></i>
                                <p>
                                    {{ item.label }}
                                </p>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div
                        *ngIf="
                            editMenuForm.controls['icon']?.invalid &&
                            editMenuForm.controls['icon']?.touched
                        "
                    >
                        <small
                            *ngIf="editMenuForm.controls['icon']?.errors?.['required']"
                            >Icon is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="parent">Parent</label>
                <div class="col-12 md:col-10">
                    <p-treeSelect
                        formControlName="parent_id"
                        class="block w-full"
                        [options]="menuOptions"
                        [showClear]="true"
                        (onClear)="clearParent()"
                    />
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="order"
                    >Order<span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <input
                        pInputText
                        class="w-full"
                        type="number"
                        name="order"
                        id="order"
                        formControlName="order"
                    />
                    <div
                        *ngIf="
                            editMenuForm.controls['order']?.invalid &&
                            editMenuForm.controls['order']?.touched
                        "
                    >
                        <small
                            *ngIf="editMenuForm.controls['order']?.errors?.['required']"
                            >Order is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="status"
                    >Status<span class="text-red-500">*</span></label
                >
                <div class="col-12 md:col-10">
                    <p-inputSwitch formControlName="status" />
                    <div
                        *ngIf="
                            editMenuForm.controls['status']?.invalid &&
                            editMenuForm.controls['status']?.touched
                        "
                    >
                        <small
                            *ngIf="editMenuForm.controls['status']?.errors?.['required']"
                            >Status is required.</small
                        >
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label class="col-2" for="status">Permissions</label>
                <div class="col-12 md:col-10">
                    <p-multiSelect
                        class="block w-full"
                        styleClass="w-full"
                        [options]="permissionOptions"
                        formControlName="permissions"
                    />
                </div>
            </div>

            <div class="flex justify-content-end mt-8">
                <p-button class="" type="submit" label="Submit"></p-button>
            </div>
        </form>
    </ng-template>
</div>
