<div class="grid">
    <div class="col-6">
        <div class="card h-full">
            <h5>Matriks Penggunaan</h5>
            <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
        </div>
    </div>
    <div class="col-6">
        <div class="card h-full">
            <h5>Berdasarkan Kategori</h5>
            <p-chart type="doughnut" [data]="pieChartData" [options]="pieChartOptions" />
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-6">
        <div class="card">
            <h5>Pengumuman</h5>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h5>Dokumen Terbaaru</h5>
        </div>
    </div>

</div>