<div class="card">
    <p-button
        icon="pi pi-chevron-left"
        label="Back"
        size="small"
        [outlined]="true"
        (onClick)="clickBack()"
    />

    <div class="flex flex-column gap-2 mt-5">
        <div class="field grid">
            <label class="col-2" for="name">Role</label>
            <div class="col-12 md:col-10">
                <input
                    pInputText
                    class="w-full"
                    type="text"
                    name="name"
                    id="name"
                    [ngModel]="roleName"
                    disabled
                    readonly
                />
            </div>
        </div>

        <div class="field grid">
            <p-treeTable
                [value]="categoryOptions"
                [columns]="cols"
                selectionMode="checkbox"
                [(selection)]="selectedNodes"
                dataKey="id"
            >
                <!-- (onNodeSelect)="nodeSelect($event)" -->
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-rowNode
                    let-rowData="rowData"
                    let-columns="columns"
                >
                    <tr>
                        <td>
                            <p-treeTableToggler
                                [rowNode]="rowNode"
                            ></p-treeTableToggler>

                            {{ rowData.name }}
                        </td>
                        <td>
                            <p-treeTableCheckbox
                                [value]="rowNode"
                            ></p-treeTableCheckbox>
                            <!-- <input
                                name="menu-access"
                                type="checkbox"
                                [(ngModel)]="rowData.active"
                                [value]="rowData.id"
                            /> -->
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>

        <div class="flex justify-content-end mt-8">
            <p-button
                (onClick)="onSubmit()"
                type="submit"
                label="Submit"
            ></p-button>
        </div>
    </div>

    <p-button (onClick)="showNodes()" label="Click" />
</div>
