<div class="card">
    <h5>Master Data - Menu</h5>

    <ng-container *ngIf="menus">
        <div class="flex flex-column gap-4">
            <div class="flex justify-content-end gap-2">
                <p-button
                    icon="pi pi-plus"
                    label="New"
                    severity="primary"
                    (click)="goToNewMenu()"
                />
            </div>

            <p-table
                [value]="menus"
                [paginator]="true"
                [rows]="5"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]"
                [rowTrackBy]="trackByFunction"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nama</th>
                        <th>Path</th>
                        <th>Parent</th>
                        <th class="text-center">Order</th>
                        <th>Icon</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-menu let-i="rowIndex">
                    <tr>
                        <td>{{ menu.nama }}</td>
                        <td>{{ menu.path }}</td>
                        <td>{{ menu.parent }}</td>
                        <td class="text-center">{{ menu.order }}</td>
                        <td>{{ menu.icon }}</td>
                        <td class="text-center">
                            <!-- <p-inputSwitch
                                [ngModel]="!!menus[i].status"
                                (ngModelChange)="
                                    menus[i].status = +!menus[i].status
                                "
                            /> -->
                            <ng-container *ngIf="!!menu.status; else inactive">
                                <p-button
                                    label="Active"
                                    size="small"
                                    severity="success"
                                    class="menu-status"
                                />
                            </ng-container>
                            <ng-template #inactive>
                                <p-button
                                    label="Inactive"
                                    size="small"
                                    severity="danger"
                                    class="menu-status"
                                />
                            </ng-template>
                        </td>
                        <td class="text-center">
                            <p-button
                                icon="pi pi-user-edit"
                                size="small"
                                label="Edit"
                                severity="secondary"
                            />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-container>
</div>
